.journal__container {
    flex: 1;

    align-items: center;
    justify-content: space-around;

    z-index: 100;

    margin-top: 10px;
}

.crpg-token {
    color: #4CAF50; /* Green color for CRPG tokens */
    font-weight: bold;
}
